<%= form_with(model: group_line_item, local: true) do |form| %>
  <% if group_line_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group_line_item.errors.count, "error") %> prohibited this group_line_item from being saved:</h2>

      <ul>
      <% group_line_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :quantity, 'количество, шт' %>
    <%= form.text_field :quantity %>
  </div>

  <div class="actions">
    <%= button_tag 'Сохранить' %>
  </div>
<% end %>
