<%= form_for(@product_type)  do |f| %>
  <!-- рендерим форму для вывода ошибок валидации -->
  <%= render partial: 'partials/form_errors', locals: {model: @product_type} %>

  <div class="form-group">
    <%= f.label :title, "Новый раздел меню" %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit 'Создать', class: 'btn btn-primary' %> или <%= link_to 'вернуться', :back %>
  </div>

<% end %>