<h1>Наше меню по категориям: <%= @product_type.title %></h1>

<br/>

<%= link_to 'Все меню |', product_types_path %>

<!-- рендерим партиал с типом меню + ссылку для добавления еще одного типа меню -->
<%= render partial: 'product_types/product_type', collection: @product_types, as: 'product_type' %>

<% if user_admin %>
  <%= link_to fa_icon('plus-square') + ' добавить вид меню', new_product_type_path %>|
  <%= link_to fa_icon('pencil-square-o') + 'ред.', edit_product_type_path %>
  <%= link_to fa_icon('window-close-o') + 'удал.', product_type_path, method: :delete, 
    data: {confirm: 'Вы уверены? Все блюда из этого раздела меню будут также удалены'} %>
<% end %>

<hr/>

<div id="products_table">
  <table class="table table-border table-hover">
    <thead>
      <tr>
        <th>Блюдо</th>
        <th>Описание</th>
        <th>Стоимость, грн</th>
        <th></th>
      </tr>
    </thead>
      
    <!-- рендерим через партиал список меню данного типа -->
    <%= render partial: 'products/product_table', collection: @products_by_product_type %>
       
    </table>
  </div>


<!-- рендерим ссылку для добавления еще одного компонента меню -->
<%= link_to 'Новое блюдо', new_product_type_product_path(product_type_id: @product_type.id) %>