<h2>Меню вашего предварительного группового заказа</h2>
<br/>

<table class="table table-bordered">
  <%= render(group_cart.group_line_items) %>
  <tr class="total_line">
  	<td colspan="4"><b>Итого</b></td>
  	<td class="total_cell"><b><%= my_number_to_currency(@group_cart.total_price) %> грн</b></td>
  </tr>

</table>


<%= link_to 'Назад', :back %> | 
<br/><br/>
<%= button_to 'Очистить корзину заказа', group_cart_path(group_id: @group.id,
			id: @group_cart.id), method: :delete, 
	data: {confirm: 'Вы уверены что хотите очистить корзину заказа?'}, 
	class: 'btn btn-danger btn-sm' %> |
<%= button_to 'Оформить заказ', new_group_order_path, method: :get,
	class: 'btn btn-success btn-sm' %> |


<script>
	/*
  function show() {
    $.ajax({ 
      url: "group_line_items/group_line_item",
      cache: false,
      success: function(html){
      	$('#table').html(html);
      }
    })
  }


  $(document).ready(function(){
  	show();
  	setInterval('show()', 5000);
  });
*/
</script>