<p id="notice"><%= notice %></p>

<h1>Просмотр оформленных заказов групп</h1>

<table class="table table-border table-hover">
  <thead>
    <tr>
      <th>Название группы</th>
      <th>Члены группы</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= group.name %></td>
        <td>
          <% group.members.each do |member| %>
            <%= member.user.name + '  ' %>
          <% end %>
        </td>
        <td><%= link_to 'Подробнее', group %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Назад', :back %>
