<%= form_with(model: group_order, local: true) do |form| %>
  <% if group_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group_order.errors.count, "error") %> prohibited this group_order from being saved:</h2>

      <ul>
      <% group_order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_area :name, id: :group_order_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_area :email, id: :group_order_email %>
  </div>

  <div class="field">
    <%= form.label :notice %>
    <%= form.text_area :notice, id: :group_order_notice %>
  </div>

  <div class="field">
    <%= form.label :pay_type %>
    <%= form.text_field :pay_type, id: :group_order_pay_type %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
