<%= form_with(model: group_order, local: true) do |form| %>
  <% if group_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group_order.errors.count, "error") %> prohibited this group_order from being saved:</h2>

      <ul>
      <% group_order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :notice, 'Тут вы можете оставить комментарии к Вашему заказу' %>
    <%= form.text_area :notice %>
  </div>

  <div class="field">
    <%= form.label :pay_type, 'Как будете расплачиваться' %>
    <%= form.select :pay_type, Order::PAYMENT_TYPES %>
  </div>

  <div class="actions">
    <%= form.submit 'Отправить заказ', class: 'btn btn-success btn-sm' %>
  </div>
<% end %>
