<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @group_order.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @group_order.email %>
</p>

<p>
  <strong>Notice:</strong>
  <%= @group_order.notice %>
</p>

<p>
  <strong>Pay type:</strong>
  <%= @group_order.pay_type %>
</p>

Заказано:
<br/>
<%= render partial: 'group_orders/group_order', collection: @my_group_order, 
		as: 'group_order' %>
-------------<br/>
Итого: <%= my_number_to_currency(@group_order.price) %><br/>

<%= link_to 'На главную', root_path %>
