<p>
  <strong>Название группы:</strong>
  <%= @group_order.group_name %>
</p>

<p>
  <strong>Главный заказчик:</strong>
  <%= @group_order.name %>
</p>

<p>
  <strong>Почта:</strong>
  <%= @group_order.email %>
</p>

<p>
  <strong>Комментарии:</strong>
  <%= @group_order.notice %>
</p>

<p>
  <strong>Тип оплаты:</strong>
  <%= @group_order.pay_type %>
</p>

Заказано:
<br/>
<%= render partial: 'group_orders/group_order', collection: @my_group_order, 
		as: 'group_order' %>
-------------<br/>
Итого: <%= my_number_to_currency(@group_order.price) %><br/>

<%= link_to 'На главную', root_path %>
