<h3>Данные Вашего заказа:</h3>

<p>
  <strong>Номер заказа:</strong>
  <%= @order.id %>
</p>

<p>
  <strong>Имя:</strong>
  <%= @order.name %>
</p>

<p>
  <strong>Почта:</strong>
  <%= @order.email %>
</p>

<p>
  <strong>Комментарии:</strong>
  <%= @order.notice %>
</p>

<p>
  <strong>Тип оплаты:</strong>
  <%= @order.pay_type %>
</p>

<%= render partial: 'orders/order' %>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
