<h3>Данные Вашего заказа:</h3>

<p>
  <strong>Номер заказа:</strong>
  <%= @order.id %>
</p>

<p>
  <strong>Имя:</strong>
  <%= @order.name %>
</p>

<p>
  <strong>Почта:</strong>
  <%= @order.email %>
</p>

<p>
  <strong>Комментарии:</strong>
  <%= @order.notice %>
</p>

<p>
  <strong>Тип оплаты:</strong>
  <%= @order.pay_type %>
</p>

Заказано:
<br/>
<%= render partial: 'orders/order', collection: @my_order, as: 'order' %>

<%= link_to 'На главную', root_path %>
