<h2>Детализация группового</h2>

ID заказа: <%= @group_order.id %><br/>
Группа заказа: <%= @group_order.group_name %><br/>
Создатель группы заказа: <%= @group_order.name %> | <%= @group_order.email %><br/>
Примечание к заказу: <%= @group_order.notice %><br/>
Тип оплаты: <%= @group_order.pay_type %><br/>
Когда заказ создан: <%= @group_order.created_at %><br/>
<%= link_to 'Назад', group_orders_admin_index_path, class: "btn btn-primary btn-sm", style: "color: white" %><br/>
----------------------------------<br/>

<% if params[:how_to_view] == 'by_user' %>
  <%= render 'group_orders_admin/show_by_users' %>
<% elsif params[:how_to_view] == 'by_dish' %>
  <%= render 'group_orders_admin/show_by_dish' %>
<% end %>
