<p id="notice"><%= notice %></p>

<p>
  <strong>Group:</strong>
  <%= @joiner.group %>
</p>

<p>
  <strong>User:</strong>
  <%= @joiner.user %>
</p>

<%= link_to 'Edit', edit_joiner_path(@joiner) %> |
<%= link_to 'Back', joiners_path %>
