<%= form_for @new_product, url: product_type_products_path(product_type_id: @new_product.product_type_id) do |form| %>
  <!-- рендерим форму для вывода ошибок валидации -->
  <%= render partial: 'partials/form_errors', locals: {model: @new_product} %>

  <div class="field">
    <%= form.label :title, 'Название блюда' %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description, 'Краткое описание' %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :price, 'Стоимость, грн' %>
    <%= form.text_field :price %>
  </div>

  <div class="actions">
    <%= form.submit 'Создать', class: 'btn btn-primary' %>
  </div>
<% end %>
