<p id="notice"><%= notice %></p>

<h3>
  <strong>Title:</strong>
  <%= @product.title %>
</h3>

<h4>
  <strong>Description:</strong>
  <%= @product.description %>
  <br/>
  <strong>Price:</strong>
  <%= @product.price %>
</h4>

<%= link_to 'Back', :back %>
