<div class="navbar navbar-inverse navbar-static-top">
  <div class="container">

    <% if user_admin %>
      <%= link_to 'Restaurant "Developers Life"', product_types_path, class: 'navbar-brand', color: "#ff0033" %>
      <%= link_to 'admin panel mode', product_types_path, class: 'navbar-brand', id: 'navbar-admin' %>
    <% else %>
      <%= link_to 'Restaurant "Developers Life"', store_index_path, class: 'navbar-brand', color: "#ff0033" %>
    <% end %>
 
      <ul class="nav navbar-nav">

      </ul>
    
      <ul class="nav navbar-nav navbar-right">
        <% if user_login %>
          <li id="cart-button">
            <%= link_to 'Моя корзина', cart_path(id: @cart.id) if @cart %>
          </li>
        <% end %>

        <% if @group_cart %>
          <li id="cart-button">
            <%= link_to 'Заказ группы' + @group_cart.group.name, 
            group_cart_path(group_id: @group.id, id: @group_cart.id)  %>
          </li>
        <% end %>

        <% if user_signed_in? %>
          <li id="header_name">Здравствуйте, <%= current_user.name %>  | </li>
          <%= link_to 'Выйти', destroy_user_session_path, :method => :delete, class: "btn btn-primary btn-sm active" %>
        <% else %>
          <div class="btn-group" role="group" aria-label="Basic example">
            <%= link_to 'Войти', new_user_session_path, class: "btn btn-primary btn-sm active" %> 
            <%= link_to 'Зарегистрироваться', new_user_registration_path, class: "btn btn-success btn-sm active" %>
        </div>
        <% end %>
      </ul>
    </div>
  </div>
</div>