<div class="navbar navbar-dark bg-dark navbar-static-top">
  <div class="container">

    <ul class="nav navbar-nav navbar-left">
      <% if user_admin %>

        <li class="nav-item">
          <%= link_to 'Restaurant "Developers Life"', product_types_path, class: 'navbar-brand', color: "#ff0033" %>
          <%= link_to 'admin panel mode', product_types_path, class: 'navbar-brand', id: 'navbar-admin' %>
        </li>
      
      <% else %>
      
        <li class="nav-item">
          <%= link_to 'Restaurant "Developers Life"', store_index_path, class: 'navbar-brand', color: "#ff0033" %>
        </li>

      <% end %>
    </ul>
 
    
    <ul class="nav justify-content-end">

      <% if user_login %>

        <li id="cart1" class="nav-item">
          <%=render partial: "layouts/header_cart"%>
        </li>
      <% end %>

      <% if @group_cart %>
      <ul>
        <li class="nav-item">
          <%= link_to '| Корзина группы ' + @group_cart.group.name+ ' |', 
          group_cart_path(group_id: @group.id, id: @group_cart.id), 
          class: 'btn btn-success btn-sm' %>
        </li>
        <li id="cart_info">
          товаров <%= @quantity %> на сумму <%= my_number_to_currency(@price) %>
        </li>
      </ul>
      <% end %>

      <% if user_admin %>
        <li class="nav-item">
          Вы вошли как администратор  |
        </li>
        <li class="nav-item">
          <%= link_to 'Выйти', destroy_user_session_path, :method => :delete, class: "btn btn-primary btn-sm active" %>
        </li>


        <% elsif user_login %>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle btn-sm" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Здравствуйте, <%= current_user.name %>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <%= link_to 'Мои оформленные заказы', orders_path, class: "dropdown-item" %>
              <%= link_to 'Мои оформленные заказы по группам', groups_path, class: "dropdown-item" %>
            </div>
          </div>
        <li class="nav-item">
          <%= link_to 'Выйти', destroy_user_session_path, :method => :delete, class: "btn btn-primary btn-sm active" %>
        </li>


      <% else %>
        <div class="btn-group" role="group" aria-label="Basic example">
          <%= link_to 'Войти', new_user_session_path, class: "btn btn-primary btn-sm active" %> 
          <%= link_to 'Зарегистрироваться', new_user_registration_path, class: "btn btn-success btn-sm active" %>
        </div>
      <% end %>
    </ul>

  </div>
</div>
